<% if signed_in? %>
    <section style="margin-top: 30px;margin-left: 13%">
      <div class="profile-content" style="margin-top: 20px ">
       <%= gravatar_for @profile, 100%>

        <p><strong>&nbsp;&nbsp;Name&nbsp;:&nbsp;</strong><%= @profile.name %>
          <span style="font-size:0.5em;margin-left: 27%"><%= link_to "Report a Problem", "#post_form" ,:class => "btn btn-large btn-primary"  %></span>

        </p>
        <p><strong>&nbsp;&nbsp;Education&nbsp;:&nbsp;</strong><%= raw @profile.education %></p>
        <p><strong></br>&nbsp;&nbsp;Constituency&nbsp;:&nbsp;</strong><%= Constituency.find(id=@profile.constituency_id).name %></p>
        <p><strong></br>&nbsp;&nbsp;State&nbsp;:&nbsp;</strong><%= @profile.state %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;About&nbsp;:&nbsp;</strong><%= auto_link(raw @profile.description) %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;Manifesto&nbsp;:&nbsp;</strong><%=auto_link(@profile.manifesto) %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;More details&nbsp;:&nbsp;</strong><%= auto_link( raw @profile.additional_details.html_safe) %></p>

      </div>


    <section class="post_form" id="post_form">
      <hr>
      <h3>Report a Problem</h3><br>
      <%= render :partial => 'problems/form' %>

    </section>

    <section class="problems_feed" style="margin-right: 17%">
      <%= render :partial => 'shared/problem_feed' %>
    </section>
    </section>
<% else %>
    redirect_to(root_path)
<% end %>



<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
