<% if signed_in? %>


    <section style="margin-top: 80px;margin-left: 9%;margin-right: 9%;">

       <span class="profile_data"  style="color:white;display: inline-block;float: left;width:62%;">

         <%= gravatar_for @profile, 100%>
         <br> <br> <br>
         <p style="font-size: 150%;line-height: 30px">  <strong>
         &nbsp;&nbsp;&nbsp;<%= @profile.name %>'s Profile
         </br> <br>
         &nbsp;&nbsp;&nbsp;<%= Constituency.find(id=@profile.constituency_id).name %>
         </br> <br>
         &nbsp;&nbsp;&nbsp;<%= @profile.state %>
         </strong>
         </p>
         <br> <br> <br> <br>

         <p class="profile_subheading">
             About
         </p>
         <p class="profile_subdata">
           <%= auto_link(raw @profile.description) %>
         </p>
         <br>
         <p class="profile_subheading">
           Education
         </p>
         <p class="profile_subdata">
           <%= raw @profile.education %>
         </p>
         <br>
         <p class="profile_subheading">
           Manifesto
         </p>
         <p class="profile_subdata">
           <%=auto_link(@profile.manifesto) %>
         </p>
         <br>
         <p class="profile_subheading">
           Additional Details
         </p>
         <p class="wrapped-text profile_subdata">
           <%= auto_link( raw @profile.additional_details.html_safe) %>
         </p>
       </span>


    <span class="right_data_profile"  style="color: black;display: inline;width:35%;float: left;margin-left: 10px;">

     <div class="right_content_0" style="padding-left: 10px;padding-top: 10px">
         <a href="#move" style="font-size: 200%;color: #ffffff;text-decoration: underline;">Report Problems</a>
         <br> <br>
         <a href="#move" style="font-size: 200%;color: #ffffff;text-decoration: underline;">Opinion Polls</a>
         <br> <br>
     </div>


       <!--
      <div class="right_content_1" style="height: 600px">
        <script type="text/javascript" src="http://output14.rssinclude.com/output?type=js&amp;id=887761&amp;hash=8d4bde3c34cf5f86767127ac02e29123"></script>
      </div>
       -->

      <div class="right_content_2" style="height: 1205px;overflow-y: scroll" >

       <!--    id="widgetmain" style="text-align:left;overflow-y:auto;overflow-x:hidden;width:380px;background-color:#transparent; border:1px solid #333333;"><div id="rsswidget" style="height:1190px;"><iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1404459163341&amp;x=https%3A%2F%2Fnews.google.com%2Fnews%2Ffeeds%3Fpz%3D1%26cf%3Dall%26ned%3Din%26hl%3Den%26topic%3Dp%26output%3Drss&amp;w=380&amp;h=1190&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=true&amp;t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=false&amp;lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;idt=true&amp;dtc=284F2D&amp;dts=12" border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0" style="border:0; padding:0; margin:0; width:380px; height:1190px;" id="rssOutput">Reading RSS Feed ...</iframe></div><div style="text-align:right;margin-bottom:0;border-top:1px solid #333333;" id="widgetbottom"><span style="font-size:70%"><a href="http://www.rssfeedwidget.com">rss feed widget</a>&nbsp;</span><br></div>
        -->

      <% @posts.each do |post| %>
        <div id="fb_feeds">
        <span style="display: inline;width: 30%;float: left">
          <%=link_to ( image_tag  post.picture , size: "100x95"),post.link %>
        </span>
        <span style="display: inline;width: 65%;float: left">
          <%= auto_link(raw post.message) %>  <br>
          <%= auto_link(raw post.description) %> <br>
          <p style="color: white"> <%= Time.at(post.created_time.to_i).strftime("%B %e, %Y at %I:%M %p")  %> </p>
          <% prefix =  post.from.link %>
          <% suffix =  post.identifier %>

          <% url = prefix + "/posts/" + suffix.split("_").last %>


        </span>
          <div class="fb-like" data-href=<%= url%> data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>


            </div>
         <br> <br>


      <% end %>
      </div>

      <div class="right_content_3" style="height: 135px;padding-top: 20px;overflow-y: hidden">
        <%@var1 = 0 %>
        <%@var2 = 1 %>
        <%@var3 = 0 %>
        Problems Resolved : <%= @var1 %>  <br><br>
         Problems reported : <%= @var2 %> <br><br>
         Opinion Polls  : <%= @var3 %> <br><br>



       </div>



  </span>
 </section>

      <div id="move" style="height: 50px;width: 100px"> </div>
    <section style="margin-left: 9%;margin-right: 10%;">
      <div class="container" id="container">
        <div id="tabs">
          <ul>

            <li><a href="#tabs-1">Opinion Polls</a></li>
            <li><a href="#tabs-2">Problems Reported</a></li>

          </ul>

          <div id="tabs-1">
            <%= render :partial => 'opinions/opinion_on_profile' %>

          </div>
          <div id="tabs-2">
            two
          </div>

        </div>
      </div>
      </section>
    <% if current_user.email == "nationsevoice.acct@gmail.com" %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
    <%= link_to 'Back', profiles_path %>
    <% end %>
<% else %>
    <script type="text/javascript">
        window.location.href="/signin"  // put your correct path in a string here
    </script>
<% end %>



<script>
    $(document).ready(function(){
        $("#tabs").tabs({heightStyle: "content"});
        $('#tabs ul li').click('tabsselect', function (event, ui) {
            var selectedTab = $("#tabs").tabs('option','active');

            if(selectedTab == 0) {
                $('#tabs-1').html('<%= escape_javascript(render(:partial => 'opinions/opinion_on_profile')).html_safe %>')
                $('#tabs-2').html(' ')

            }
            else if(selectedTab == 1) {
                $('#tabs-2').html('<%= escape_javascript(render(:partial => 'problems/problem_on_profile')).html_safe %>')
                $('#tabs-1').html(' ')
            }

        });
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=313006152185371&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    });



</script>



