<% if signed_in? %>
    <section style="margin-top: 30px;margin-left: 13%">
      <div class="profile-content" style="margin-top: 20px ">
       <%= gravatar_for @profile, 100%>

        <p><strong>&nbsp;&nbsp;Name&nbsp;:&nbsp;</strong><%= @profile.name %>
          <span style="font-size:0.5em;margin-left: 27%"><%= link_to "Report a Problem", "#post_form" ,:class => "btn btn-large btn-primary"  %></span>

        </p>
        <p><strong>&nbsp;&nbsp;Education&nbsp;:&nbsp;</strong><%= raw @profile.education %></p>
        <p><strong></br>&nbsp;&nbsp;Constituency&nbsp;:&nbsp;</strong><%= Constituency.find(id=@profile.constituency_id).name %></p>
        <p><strong></br>&nbsp;&nbsp;State&nbsp;:&nbsp;</strong><%= @profile.state %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;About&nbsp;:&nbsp;</strong><%= auto_link(raw @profile.description) %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;Manifesto&nbsp;:&nbsp;</strong><%=auto_link(@profile.manifesto) %></p>
        <p class="wrapped-text" style="width: 75%;text-align:justify;"><strong></br>&nbsp;&nbsp;More details&nbsp;:&nbsp;</strong><%= auto_link( raw @profile.additional_details.html_safe) %></p>

      </div>
    </section>
      <div class="container">
        <div id="tabs">
          <ul>

            <li><a href="#tabs-1">Opinion Polls</a></li>
            <li><a href="#tabs-2">Problems Reported</a></li>

          </ul>

          <div id="tabs-1">
            <%= render :partial => 'opinions/opinion_on_profile' %>

          </div>
          <div id="tabs-2">
            two
          </div>

        </div>
      </div>
    <% if current_user.email == "nationsevoice.acct@gmail.com" %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
    <%= link_to 'Back', profiles_path %>
    <% end %>
<% else %>
    <script type="text/javascript">
        window.location.href="/signin"  // put your correct path in a string here
    </script>
<% end %>

<script>
    $(document).ready(function(){
        $("#tabs").tabs({heightStyle: "content"});
        $('#tabs ul li').click('tabsselect', function (event, ui) {
            var selectedTab = $("#tabs").tabs('option','active');

            if(selectedTab == 0) {
                $('#tabs-1').html('<%= escape_javascript(render(:partial => 'opinions/opinion_on_profile')).html_safe %>')
                $('#tabs-2').html(' ')

            }
            else if(selectedTab == 1) {
                $('#tabs-2').html('<%= escape_javascript(render(:partial => 'problems/problem_on_profile')).html_safe %>')
                $('#tabs-1').html(' ')
            }

        });


    });
</script>



