<% provide(:title, "Sign in") %>
<section class="center-page offset5 signin" style="margin-top: 100px">
  <div class=" row offset1 ">
    <h1 style="margin-bottom: 30px">Sign in</h1>
    <%= form_for(:session, :url => sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", :class => "btn btn-large btn-primary block" %>
        <%= link_to "forgotten password?", new_password_reset_path %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>

  </div>
</section>


</div>
