<% if signed_in? &&  current_user.email == "nationsevoice.acct@gmail.com" %>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Comment:</strong>
      <%= @comment.comment %>
    </p>

    <p>
      <strong>Opinion:</strong>
      <%= @comment.opinion_id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @comment.user_id %>
    </p>

    <%= link_to 'Edit', edit_comment_path(@comment) %> |
    <%= link_to 'Back', comments_path %>

<% else %>
    <%=  render :file => 'public/404.html', :status => :not_found, :layout => false   %>
<% end %>

