<% if signed_in? &&  current_user.email == "nationsevoice.acct@gmail.com" %>
    <h1>Listing users</h1>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Mob no</th>
        <th>Constituency</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.mob_no %></td>
            <td><%= user.constituency %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>

<% else %>
    <%=  render :file => 'public/404.html', :status => :not_found, :layout => false   %>
<% end %>


