<% provide(:title, 'Sign up') %>
<p style="float: right ; margin-right: 10px"></p>

<section class="center-page offset5 signup autoTextHeight" style="margin-top: 100px">
  <div class=" row offset1 ">
    <h1 style="margin-bottom: 30px">Sign Up</h1>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :mob_no %>
        <%= f.text_field :mob_no %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <br><br>
        <%= f.submit "Create..", :class => "btn btn-large btn-primary" %>
        <%= link_to 'Home ',"/", :class => "btn btn-large btn-primary" %>
     <% end %>

  </div>
</section>


