<li id="<%= "comment_" + comment_item.id.to_s %>">
  <div class="comment_section">
      <strong style="padding-left: 5px;"><%= find_user_by_id(comment_item.user_id) %> </strong>
    <div>

      <span class="comment_content"><%= comment_item.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment_item.created_at) %> ago.
    <% if current_user?(comment_item.user) %>
    <span class="del_link">
    <%= link_to (image_tag '/assets/Delete.png' , size: "30x15"), comment_item, :method => :delete,
                :data => { :confirm => "You sure?" },
                :title => 'delete',
                :remote => true %>
    </span>
    <br>
  <% end %>
  </span>
    </div>
  </div>
</li>





