<li id="<%= "problem_" + problem_feed_item.id.to_s %>">

  <span class="user">
    <%= link_to problem_feed_item.user_id_posted, problem_feed_item.profile %>
  </span> <br>
  <span class="content">
    <%= problem_feed_item.description %>
  </span>  <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(problem_feed_item.created_at) %> ago.
  </span>
  <% if current_user.id == problem_feed_item.user_id_posted %>
      <%= link_to "delete", problem_feed_item, :method => :delete,
                  :data => { :confirm => "You sure?" },
                  :title => problem_feed_item.description,
                  :remote => true %>
  <% end %>
  <% @problem_feed = problem_feed_item %>
  <span>
       <%= render 'shared/comments' %>
  </span>
</li>

