<li id="<%= "problem_" + problem_feed_item.id.to_s %>">

  <span class="user">
    <strong><%= find_user_by_id(problem_feed_item.user_id_posted)%></strong>
  </span>
  <br>
  <span class="content ">
    <%= raw problem_feed_item.description %> <br>
  </span>
  <span style="margin-left: 40%">
    <% if has_resolve_permissions(current_user.id)%>
        <%= form_for(problem_feed_item ,:authenticity_token => true ,:remote => :true) do |f| %>
            <%= f.text_area :resolution, :placeholder => "Post the resolution.." %>
            <%= f.hidden_field :user_id_resolved, :value => current_user.id %>
            <%= f.submit "Resolve" ,:class => "btn btn-large btn-primary" %>

        <%  end  %>
    <% end %>
  </span>
  <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(problem_feed_item.created_at) %> ago. &nbsp;&nbsp;&nbsp;
  </span>
  <% if current_user.id == problem_feed_item.user_id_posted %>
      <%= link_to (image_tag '/assets/Delete.png' , size: "30x20"), problem_feed_item, :method => :delete,
                  :data => { :confirm => "You sure?" },
                  :title => problem_feed_item.description,
                  :remote => true %>
  <% end %>

  <% @problem_feed = problem_feed_item %>
  <span>
       <%= render 'shared/comments' %>
  </span>
</li>

