<% if signed_in? &&  current_user.email == "nationsevoice.acct@gmail.com" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituency.name %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @constituency.cid %>
</p>

<p>
  <strong>Current mla:</strong>
  <%= @constituency.current_MLA %>
</p>

<%= link_to 'Edit', edit_constituency_path(@constituency) %> |
<%= link_to 'Back', constituencies_path %>
<% else %>
    <%=  render :file => 'public/404.html', :status => :not_found, :layout => false   %>
<% end %>