
<title>OneStopD</title>
<section style="margin-top: 40px;width:100%;overflow: hidden">
 <!--   <h2 style="text-align: center;font-style:oblique ; text-shadow: 2px 2px 2px #808080 ;font-family:Monospace,'Lucida Console'">Get to know your politician <br>Report problems in your constituency </h2>
    <br>
  <!-- Feedzilla Widget BEGIN -->

</section>

<% if signed_in? %>
    <section style="width:100%;overflow: hidden;margin-right: 10%">
    <br><br><br>
    <div class="container" id="home_container">

      <div id="tabs">
        <ul>
          <li class="new"><a href="#tabs-1">Profiles of Politicians</a></li>
          <li><a href="#tabs-2">Problems Reported</a></li>
          <li><a href="#tabs-3">Opinions polls</a></li>

        </ul>
        <div id="tabs-1">
          <%= render :partial => 'profiles/index1' %>
        </div>
        <div id="tabs-2">
          two
        </div>
        <div id="tabs-3">
          three
        </div>

      </div>

    </div>

</section>
<% else %>

 <section style="width:100%;overflow: hidden">
    <section class="part1">
      <div style="text-align: center">
        <%= image_tag '/assets/logo.jpg' , size: "300x400",class: "logo_center" %>
        <br>  <br> <br>
        <p id="title" style="font-size: 50px;font-style:oblique ; text-shadow: 2px 2px 2px #000000 ;text-emphasis-color: white">NATION'S E VOICE</p>   <br>    <br>
        <br> <br>
        <p id="subtitle1" style="font-size: 20px">We get your voice heard</p>
        <br>    <br>  <br>
        <p id="brief" style="font-size: 20px;padding-left: 30px;padding-right: 30px;line-height: 2">
          Nationsevoice.com is a platform where people can directly report their issues to representatives and bureaucrats.  <br>
          Representatives and bureaucrats post their resolutions jotting down the steps taken by them to solve the reported problems.
          <br>In this way,  our mission is to bridge the existing gap between people and their representatives.
        </p>
      </div>
    </section>
    <br> <br> <br> <br> <br><br><br><br> <br><br> <br>
    <div id="what"> <p style="font-size: 60px;text-align: center; text-shadow: 2px 2px 2px #000000 ;"> What we do ? </p> </div>
    <br> <br>

    <p style="font-size: 30px;text-align: center;">
      Receive your problems , notify the politicians and get it resolved
    </p>
    <br>

    <div class="slide_show" style="text-align: center">
    <ul class="bxslider">
      <li><img src="/assets/home_1.jpg" /></li>
      <li><img src="/assets/home_2.jpg" /></li>
      <li><img src="/assets/home_3.jpg" /></li>

    </ul>
    </div>

    <br><br>
    <p style="font-size: 60px;text-align: center; text-shadow: 2px 2px 2px #000000 ;"> How do we do ? </p>
    <br> <br> <br> <br>

    <section id="part3" style="text-align: center">
         <div id="how_1" style="float: left;width: 20%;display: inline;">
           <%= image_tag '/assets/GetPoliticians.png' , size: "300x300" %>
           <br>  <br>  <br>
         <p style="font-size: 25px;line-height: 2;font-weight: bold;margin-left: 4%">Get Politicians</p>

           <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
             Get politicians of different constituencies on board and create profiles for them
             where they can read the reported problems and take steps to resolve them.
           </p>
         </div>

         <div id="how_2" style="float: left;width: 22%;display: inline;margin-left: 4%">
           <%= image_tag '/assets/problems.jpg' , size: "300x200" %>     <br><br><br>
           <p style="font-size: 25px;line-height: 2;font-weight: bold">Receive problems</p>

           <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
             Get problems from the people and make them available on politicians profile pages.
             In addition to reporting their problems, people can comment on other reported problems.
           </p>
         </div>
         <div id="how_3" style="float: left;width: 20%;display: inline;margin-left: 4%">
           <%= image_tag '/assets/NotifyPoliticians.png' , size: "300x300" %>    <br>  <br>  <br>
           <p style="font-size: 25px;line-height: 2;font-weight: bold">Notify politicians</p>

           <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
             Politicians will be notified of the problems reported in their constituencies along with the details of the people reporting the problems.
           </p>
         </div>
         <div id="how_4" style="float: left;width: 20%;display: inline;margin-left: 4%">
           <%= image_tag '/assets/rating1.jpg' , size: "300x300" %>   <br><br><br>
           <p style="font-size: 25px;line-height: 2;font-weight: bold">Rate resolution</p>

           <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
             The users can rate the resolution by commenting about their level of satisfaction on the resolution give by their politician.
           </p>
         </div>

    </section>
    <br> <br> <br> <br> <br>
    <p style="font-size: 60px;text-align: center; text-shadow: 2px 2px 2px #000000 ;"> Some More </p>
    <br> <br> <br>

    <section id="part4" style="text-align: center;padding-left: 25%">
      <div id="how_5" style="float: left;width: 35%;display: inline;">
        <%= image_tag '/assets/KnowYourPoliticians.png' , size: "250x300" %>
        <p style="font-size: 25px;line-height: 2;font-weight: bold">Know your Politician</p>

        <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
          Get to know more about your politicians like their educational background, manifesto, family background etc.
          If you don't find profile of your politician, don't worry!!, we are here to create new profile upon receiving your request for it.
        </p>
      </div>

      <div id="how_6" style="float: left;width: 30%;display: inline;margin-left: 15%">
        <%= image_tag '/assets/OpinionPolls.png' , size: "270x300" %>
        <p style="font-size: 25px;line-height: 2;font-weight: bold">Opinion Polls</p>

        <p style="text-align: justify;padding-left: 5px;padding-right: 5px;font-size: 15px;">
          Do you ever feel like your voice is not being heard on important project in your constituency? Here is an opportunity for you!!
          Raise your voice by participating in opinion polls on critical questions relating to your constituency.
        </p>
      </div>

    </section>

    <br> <br>



<% end %>



  </div>
</section>
<script>
    $(document).ready(function(){
        $("#tabs").tabs({heightStyle: "content"});
        $('#tabs ul li').click('tabsselect', function (event, ui) {
            var selectedTab = $("#tabs").tabs('option','active');

            if(selectedTab == 0) {
                $('#tabs-1').html('<%= escape_javascript(render(:partial => 'profiles/index1')).html_safe %>')
                $('#tabs-2').html(' ')
                $('#tabs-3').html(' ')
            }
            else if(selectedTab == 1) {
                $('#tabs-2').html('<%= escape_javascript(render(:partial => 'problems/home_problems')).html_safe %>')
                $('#tabs-1').html(' ')
                $('#tabs-3').html(' ')
            }
            else {
                $('#tabs-3').html('<%= escape_javascript(render(:partial => 'opinions/home_opinions')).html_safe %>')
                $('#tabs-1').html(' ')
                $('#tabs-2').html(' ')
            }
        });

        $(window).trigger('checkInView')
        //$(Window).trigger('checkInView')

        $('#how_1').css("visibility","hidden");
        $('#how_2').css("visibility","hidden");
        $('#how_3').css("visibility","hidden");
        $('#how_4').css("visibility","hidden");


    });


    $('#how_1').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_1').css("visibility","visible");

                }
            }, 50));
        }
    });

    $('#how_2').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_2').css("visibility","visible");

                }
            }, 500));
        }
    });

    $('#how_3').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_3').css("visibility","visible");

                }
            }, 1000));
        }
    });

    $('#how_4').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_4').css("visibility","visible");

                }
            }, 1500));
        }
    });

    $('#how_5').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_5').css("visibility","visible");

                }
            }, 50));
        }
    });

    $('#how_6').bind('inview', function(e, v, t) {
        var o = $(this);

        if(o.data('inviewtimer')) {
            clearTimeout(o.data('inviewtimer'));
            o.removeData('inviewtimer');
        }

        if(v) {
            o.data('inviewtimer', setTimeout(function() {
                if(t == 'top') {
                    o.data('seenTop', true);
                } else if(t == 'bottom') {
                    o.data('seenBottom', true);
                } else {
                    o.data('seenTop', true);
                    o.data('seenBottom', true);
                }

                if(o.data('seenTop') && o.data('seenBottom')) {
                    o.unbind('inview');
                    // here we will do WHAT WHE NEED (for ex. Call Ajax stats collector)
                    // ...
                    $('#how_6').css("visibility","visible");

                }
            }, 500));
        }
    });




    $('#part31').bind('inview', function (event, visible, topOrBottomOrBoth) {
        if (visible == true) {

            // element is now visible in the viewport
            if (topOrBottomOrBoth == 'top') {
                // top part of element is visible


            } else if (topOrBottomOrBoth == 'bottom') {
                // bottom part of element is visible
            } else {
                // whole part of element is visible
                //alert("true.. whole is visible.. now animate");
                //$('#how_1').css("visibility","visible");
                $('#part31').animate({
                            width: "toggle",
                            height: "toggle"
                        }, {
                            duration: 100,
                            specialEasing: {
                                width: "linear",
                                height: "easeInCubic"
                            }

                        }
                );


                $('#part31').animate({
                            width: "toggle",
                            height: "toggle"
                        }, {
                            duration: 1000,
                            specialEasing: {
                                width: "linear",
                                height: "easeInCubic"
                            }

                        }
                );




                //$('#how_2').animate({ "left": "-=50px" }, "slow" );

            }
        } else {
            // element has gone out of viewport
        }
    });
    function sleep(millis, callback) {
        setTimeout(function()
                { callback(); }
                , millis);
    }
    function foobar_cont(){
        //console.log("finished.");
    };

</script>
