<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @stat.data %>
</p>

<p>
  <strong>Time:</strong>
  <%= @stat.time %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
